dns_ovh_endpoint = {{ puppeteers_ovhcloud_certbot_dns_ovh_endpoint }}
dns_ovh_application_key = {{ puppeteers_ovhcloud_certbot_dns_application_key }}
dns_ovh_application_secret = {{ puppeteers_ovhcloud_certbot_dns_application_secret }}
dns_ovh_consumer_key = {{ puppeteers_ovhcloud_certbot_dns_consumer_key }}
